<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.userName %>
        <%= @user.user_type %>
      </h1>
    </td>
    <td class="sidebar">
      <strong>Name</strong> <%= @user.userName %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
<%= link_to 'Show all posts', :controller => 'users', method: :showPosts%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
